---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <section class='flex items-center justify-center flex-wrap gap-4'>
    <a
      href='/fabricante'
      class='min-w-[150px] text-center px-5 py-3 border-white border-[1px] font-medium bg-transparent text-white hover:bg-white hover:text-black transition-colors duration-300'
      >Fabricante</a
    >
    <a
      href='/distribuidor'
      class='min-w-[150px] text-center px-5 py-3 border-white border-[1px] font-medium bg-transparent text-white hover:bg-white hover:text-black transition-colors duration-300'
      >Distribuidor</a
    >
    <a
      href='/usuario'
      class='min-w-[150px] text-center px-5 py-3 border-white border-[1px] font-medium bg-transparent text-white hover:bg-white hover:text-black transition-colors duration-300'
      >Usuario</a
    >
  </section>
</Layout>
