---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <main class='pt-7'>
    <section id='todas-secciones' class='py-5'>
      <div data-section='verificar-celular' class='mt-5'>
        <form id='form-verificar-celular' class='max-w-2xl mx-auto'>
          <div class='relative z-0 w-full mb-5 group'>
            <input
              type='number'
              name='imei'
              id='floating_email'
              class='text-white block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer'
              placeholder=' '
              required
            />
            <label
              for='floating_email'
              class='peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'
              >IMEI único del celular</label
            >
          </div>
          <button
            type='submit'
            class='text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
            >Verificar Celular</button
          >
        </form>
      </div>

      <div data-section='reportar-celular' class='mt-5 hidden'>
        <form id='form-reportar-celular' class='max-w-2xl mx-auto'>
          <div class='grid md:grid-cols-2 md:gap-6'>
            <div class='relative z-0 w-full mb-5 group'>
              <input
                type='number'
                name='imei'
                id='floating_first_name'
                class='text-white block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer'
                placeholder=' '
                required
              />
              <label
                for='floating_first_name'
                class='peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'
                >IMEI único del celular</label
              >
            </div>
            <div class='relative z-0 w-full mb-5 group'>
              <input
                type='number'
                name='id_propietario'
                id='floating_last_name'
                class='text-white block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer'
                placeholder=' '
                required
              />
              <label
                for='floating_last_name'
                class='peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'
                >Documento de Identidad</label
              >
            </div>
          </div>
          <button
            type='submit'
            class='text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
            >Vender Celular</button
          >
        </form>
      </div>
    </section>
  </main>
</Layout>

<script>
  const $ = (selector: string) => document.querySelector(selector)
  const $$ = (selector: string) => document.querySelectorAll(selector)

  const todasSecciones = $$(
    '#todas-secciones > div'
  ) as NodeListOf<HTMLDivElement>
  const sectionButtons = $$('#botones button') as NodeListOf<HTMLButtonElement>

  sectionButtons.forEach((button: HTMLButtonElement) => {
    button.addEventListener('click', e => {
      const buttonSection = (e.currentTarget as HTMLButtonElement).dataset
        .section

      todasSecciones.forEach((section: HTMLDivElement) => {
        const sectionId = section.dataset.section
        if (sectionId === buttonSection) {
          section.classList.remove('hidden')
        } else {
          section.classList.add('hidden')
        }
      })
    })
  })

  // reportar-celular
  const formVenderCelular = $('#form-reportar-celular') as HTMLFormElement

  formVenderCelular.onsubmit = async e => {
    e.preventDefault()

    const form = new FormData(formVenderCelular)

    const celular = {
      imei: form.get('imei'),
      id_propietario: form.get('id_propietario'),
    }

    let response = await fetch(
      'http://localhost:3000/usuario/reportar_celular',
      {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(celular),
      }
    )

    let result = await response.json()

    if (result.ok) {
      alert(result.mensaje)
    } else {
      alert(result)
    }

    formVenderCelular.reset()
  }

  // verificar-celular
  const formAdquirirCelular = $('#form-verificar-celular') as HTMLFormElement

  formAdquirirCelular.onsubmit = async e => {
    e.preventDefault()

    const form = new FormData(formAdquirirCelular)

    let response = await fetch(
      `http://localhost:3000/usuario/verificar_robo/${form.get('imei')}`
    )

    let result = await response.json()

    if (result.ok) {
      alert(result.mensaje)
    } else {
      alert(result)
    }

    formAdquirirCelular.reset()
  }
</script>
